*{
    border: 0;
    margin: 0;
}

html{
    scroll-behavior: smooth;
}


.menubar{
    height: 50px;
    margin-top: 7px;
    width: calc(100% - 10px);
    margin-left: 5px;
    border-radius: 1rem;
    z-index: 9999;
    position: fixed;
    /*background: rgba(255, 255, 255, .8);*/
    background: none;
    /*background: rgba(0, 0, 0, 1);*/
    display: flex;
    box-sizing: border-box;
}

.sidenav {
    z-index: 9999;
    height: 100%;
    width: 0;
    position: fixed;
    top: 0;
    left: 0;
    /*background: rgba(255, 255, 255, .8);*/
    background: none;
    font-family: "Space Grotesk", sans-serif;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.openNavWrite{
    display: none;
}

.menubar img{
    margin-top: 5px;
    margin-left: 10px;
    height: 40px;
}

.menubarcontainer{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: right;
    

}

.menubar a{
    font-family: "Space Grotesk", sans-serif;
    opacity: 1;
    line-height: 50px;
    text-decoration: none;
    /*color: black;*/
    color: white;
    margin-left: 10px;
    margin-right: 20px;
}

.menubar a:hover{
    /*color: rgba(0, 0, 0, .5);*/
    color: rgba(230, 230, 230, .5);
}

.sidenav a{
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    /*color: black;*/
    color: white;
    display: block;
    transition: 0.3s;
}

.nav-link.active {
    text-decoration: underline;
}

.nav-link2.active {
    text-decoration: underline;
}

.sidenav a:hover {
    color: rgba(0, 0, 0, .5);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

/*  HOME  */
/*#############################################################################*/

.title{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 60%, rgba(0, 0, 0, 1)), url(/static/images/title.png);
    background-size: cover;
    background-position: center;

}

.name{
    width: 100%;
    padding-top: 130px;
    text-align: center;
}

.name h1{
    color: white;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.name h2{
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.socials{
    padding-top: 15px;
    width: 100%;
    max-height: 48px;
    text-align: center;
}

.socials a{
    display: inline-block;
    text-align: center;
    padding-left: 5px; padding-right: 5px;
    width: 48px;
    height:48px;
}

.socials a:hover{
    opacity: 70%;
}

.socials img{
    transform: translate(0, 50%);
    width: 24px;
    height: 24px;
}

.aboutme{
    padding-top: 10px;
    width: 100%;
    text-align: center;
}

.aboutme button{
    text-decoration: none;
    color: rgb(20, 20, 20);
    background-color: rgb(255,255,255);
    font-size: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    border-radius: 1rem;
    pointer-events: unset;
}

.aboutme button:hover{
    color: rgb(50, 50, 50);
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.aboutme button:active{
    color: rgb(50, 50, 50);
    background-color: rgb(225, 225, 225);
}

@media screen and (width <= 650px){
    .menubarcontainer{
        display: none;
    }
    .openNavWrite{
        display: flex;
        height: 50px;
        color: rgba(0,0,0,.8);
        width: 100%;
        justify-content: right;
        line-height: 50px;   
    }
    .openNavWrite span{
        font-family: 'League Spartan', sans-serif;
        margin-right: 20px;
    }
}


/* ABOUT */
/*#############################################################################*/


.about{
    height: 90vh;
    width: 100%;
    background-image: url(/static/images/about.png);
    background-size: cover;
    background-position: center;
    display: flex;
}

.abouttextfull{
    width: 40%;
    height: 100%;
    text-align: left;
    display: flex;
    align-items: flex-start; /* Cambia align-items a flex-start per allineare a sinistra */
    justify-content: center; /* Aggiungi justify-content per centrare verticalmente il contenuto */
    flex-direction: column; /* Dispone gli elementi in colonna */
    padding-left: 70px; /* Sposta il margine sinistro in padding */
}

.abouttextfull h1{
    color: white;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.abouttextfull p{
    color: white;
    font-size: 16px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
    margin-top: 20px; /* Aggiunge uno spazio tra l'h1 e il p */
    margin-bottom: 90px;
}

.abouttextfull span{
    /*color: rgb(33, 128, 241);*/
    color: rgb(32, 194, 14);
}

.abouttextfull a{
    cursor: pointer;
    text-decoration: underline;
    color: rgb(32, 194, 14);
}

.propic{
    width: 20%;
    height: 100%;
    padding-left: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.propic img{
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    height: 300px;
    opacity: 80%;
}

@media screen and (width < 950px) and (width > 600px){
    .propic{
        padding-left: 60px;
    }
    .propic img{
        height: 250px;
    }
}

@media screen and (width <= 600px) and (width > 400px){
    .title{
        height: fit-content;
    }
    .about{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .abouttextfull{
        padding-left: 30px;
        padding-top: 30px;
        width: 80%;
    }
    .propic{
        width: 100%;
        padding-left: 0;
        margin: 0 auto;  /* Centra l'elemento */
        text-align: center;
        display: flex;
        justify-content: center; /* Centra l'immagine orizzontalmente */
    }
    .propic img{
        height: 200px;
    }
    .abouttextfull p{
        margin-bottom: 0;
    }
}

@media screen and (width <= 400px){
    .title{
        min-height: 100vh;
        height: fit-content;
    }
    .title h1{
        font-size: 30px;
    }
    .title h2{
        font-size: 15px;
    }
    .about{
        height: fit-content;
        display: flex;
        flex-direction: column;
    }
    .abouttextfull{
        padding-left: 30px;
        padding-top: 30px;
        width: 80%;
    }
    .propic{
        width: 100%;
        padding-left: 0;
        margin: 0 auto;  /* Centra l'elemento */
        text-align: center;
        display: flex;
        justify-content: center; /* Centra l'immagine orizzontalmente */
    }
    .propic img{
        height: 200px;
    }
    .abouttextfull h1{
        font-size: 30px;
    }
    .abouttextfull p{
        font-size: 15px;
        margin: 0;
    }
}



/*  ASTROGALLERY  */
/*#############################################################################*/

.astrogallery{
    height: 50vh;
    background-color: black;
    background-image: url(/static/images/astrogallery2.PNG);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


.blur{
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
}


.astroinfo{
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    align-items: center; /* Cambia align-items a flex-start per allineare a sinistra */
    justify-content: center; /* Aggiungi justify-content per centrare verticalmente il contenuto */
    flex-direction: column; /* Dispone gli elementi in colonna */
}

.astrotitle{
    width: 100%;
    text-align: center;
}

.astrotitle h1{
    color: white;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.astrotitle h2{
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.astrobutton{
    width: 100%;
    text-align: center;
    padding-top: 15px;
}

.astrobutton button{
    text-decoration: none;
    color: rgb(20, 20, 20);
    background-color: rgb(255,255,255);
    font-size: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    padding: 15px;
    border-radius: 1rem;
    pointer-events: unset;
}

.astrobutton button:hover{
    color: rgb(50, 50, 50);
    background-color: rgb(225, 225, 225);
    cursor: pointer;
}

.astrobutton button:active{
    color: rgb(50, 50, 50);
    background-color: rgb(225, 225, 225);
}


@media screen and (width < 500px) {
    .astrotitle h1{
        font-size: 30px;
    }  
    .astroinfo h2{
        font-size: 15px;
    } 
}


/*  EXPERIENCES  */
/*#############################################################################*/


.experiences{
    width: 100%;
    height: fit-content;
    padding-bottom: 100px;
    background-color: black;
}

.exptitle{
    width: 100%;
    text-align: center;
    padding-top: 100px;
}

.exptitle h1{
    color: white;
    font-size: 50px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.exptitle h2{
    padding-top: 5px;
    color: white;
    font-size: 20px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
}

.flashcardcontainer{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px;
}

.card{
    width: 250px;
    height: 370px;
    background-color: rgb(240, 240, 240);
    margin-left: 25px; margin-right: 25px;
    margin-top: 25px; margin-bottom: 25px;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.imagecontainer{
    width: calc(100% - 20px);
    height: 130px;
    margin-left: 10px; margin-top: 20px;
    text-align: center
}

.imagecontainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1rem;
}

.cardtitle{
    width: calc(100% - 30px);
    margin-left: 15px;
    text-align: center;
    flex-grow: 1;
}

.cardtitle h1{
    color: black;
    font-size: 25px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
    margin-top: 20px;
}

.cardtitle h2{
    color: black;
    font-size: 15px;
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 418;
    font-style: normal;
    margin-top: 20px;
}

.card a{
    text-decoration: none;
    width: calc(100% - 20px);
    margin-left: 10px;
}

.card button{
    margin-bottom: 10px;
    width: 100%;
    padding: 10px;
    background-color: rgb(20, 20, 20);
    font-family: "Space Grotesk", sans-serif;
    color: white;
    border: none;
    border-radius: 1rem;
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    pointer-events: unset;
}

.card button:hover{
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}

.card button:active{
    color: rgb(240, 240, 240);
    background-color: rgb(50, 50, 50);
}


@media screen and (width <= 400px){
    .exptitle h1{
        font-size: 30px;
    }
    .exptitle h2{
        font-size: 15px;
    }
}