{% extends "layout.html" %}


{% block title %}
    <title>Astroale | RoboCup</title>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="/static/css/robocup.css">
{% endblock %}

{% block script %}
    <script type="text/javascript" src="/static/js/robocup.js" defer></script>
{% endblock %}


{% block body %}
<div id="mySidenav" class="sidenav">
    <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
    <a href="/" class="nav-link">Home</a>
    <a href="#goal" class="nav-link">Goal</a>
    <a href="#meaning" class="nav-link">Meaning</a>
    <a href="#robot" class="nav-link">Robot</a>
    <a href="#code" class="nav-link">Code</a>
    <a href="#skills" class="nav-link">Skills</a>
    <a href="/robocupIt"><img src="/static/images/it.png" alt="" class="bandierina"></a>
</div> 

<div class="menubar" id="menubarDef">
<a href="/"><img src="/static/images/Loghi/astroaleBlackLogo.png" alt=""></a>
<div class="menubarcontainer">
    <a href="#" class="nav-link">Home</a>
    <a href="#goal" class="nav-link">Goal</a>
    <a href="#meaning" class="nav-link">Meaning</a>
    <a href="#robot" class="nav-link">Robot</a>
    <a href="#code" class="nav-link">Code</a>
    <a href="#skills" class="nav-link">Skills</a>
    <a href="/robocupIt"><img src="/static/images/it.png" alt=""></a>
</div> 
<div class="openNavWrite">
    <span style="font-size:30px;cursor:pointer" onclick="openNav()">&#9776;</span>
</div>
</div>



<section class="title" id="home">
<div class="fotorobot">
    <img src="/static/images/robot.png" alt="">
</div>
<div class="testo">
    <h1>RoboCup Jr 2023</h1>
    <h2>Bari - Vicenza - Varaždin</h2>
</div>
</section>

<section class="sectionLeft" id="goal">
<div class="sectionLeftText">
    <div class="divLefth1">
        <h1>GOAL</h1>
    </div>
    <div class="divLeftp">
        <p>
            Our robot was designed to follow a <span class="orange">black line on white tiles</span>. The line is constantly interrupted by various types of <span class="orange">obstacles</span>: physical <span class="orange">barriers</span>, solid objects blocking the robot's path, <span class="orange">line breaks</span>, <span class="orange">intersections</span>, intersections with mandatory directions marked by <span class="orange">green tape</span>, <span class="orange">ramps</span>, and <span class="orange">underpasses</span>. <br> 
            Once it completes the course, the robot must enter the <span class="orange">evacuation zone</span>, a rescue area where <span class="orange">victims</span> are located: 2 live victims (represented by <span class="orange">silver balls</span>) and 1 deceased victim (represented by a <span class="orange">black ball</span>). The robot must rescue all the victims and bring them to the <span class="orange">safe zone</span>.
        </p>
    </div>
</div>
<div class="rightImage">
    <img src="/static/images/field.PNG" alt="">
</div>
</section>

<section class="sectionRight" id="meaning">
<div class="leftImage">
    <img src="/static/images/manmachine.jpg" alt="">
</div>
<div class="sectionRightText">
    <div class="divRighth1">
        <h1>MEANING</h1>
    </div>
    <div class="divRightp">
        <p>
            The purpose of this category is to simulate a <span class="orange">dystopian scenario</span> where, following a <span class="orange">catastrophe</span>, humans are unable to reach potential victims in need of <span class="orange">rescue</span>. Modern technologies have advanced to unprecedented levels, making it crucial to start training both <span class="orange">young individuals</span> and robots from an early age. By doing so, they can develop the necessary skills that can later be applied to realistic scenarios. This training is vital to ensure that future generations are well-prepared to handle emergency situations and effectively utilize <span class="orange">cutting-edge technology</span> to save lives. The goal is to foster a generation of innovators and rescuers who are adept at navigating and overcoming complex challenges in times of crisis.
        </p>
    </div>
</div>
</section>

<section class="sectionLeft" id="robot">
<div class="sectionLeftText">
    <div class="divLefth1">
        <h1>ROBOT</h1>
    </div>
    <div class="divLeftp">
        <p>
            Our robot was a <span class="orange">Lego Mindstorms EV3</span>. We chose it for its <span class="orange">versatility</span> in construction, allowing us to easily build and modify it according to our needs, as well as for its programmable nature. Contrary to what many might think, even though it is a <span class="orange">block-programmed robot</span>, it poses a significant challenge in developing the algorithm. The blocks can be a major <span class="orange">limitation in development</span>, so finding a way to circumvent these restrictions requires both time and knowledge of the language. <br>

Furthermore, for <span class="orange">European competitions</span>, we installed a <span class="orange">Linux-based operating system</span> on the robot to run <span class="orange">MicroPython</span> and program it using lines of code. Despite the considerable physical limitations, we managed to create an algorithm fine-tuned to navigate the entire course and <span class="orange">rescue the victims</span>. <br><br>

            <span class="orange"><a href="/static/images/TDP.pdf" style="text-decoration: underline; color: #F28705;">Technical Description Paper</a></span>
        </p>

    </div>
</div>
<div class="rightImage">
    <img src="/static/images/robot.png" alt="">
</div>
</section>


<section class="sectionRight" id="code">
<div class="leftImage">
    <img src="/static/images/algorithm.PNG" alt="">
</div>
<div class="sectionRightText">
    <div class="divRighth1">
        <h1>CODE</h1>
    </div>
    <div class="divRightp">
        <p>
            The most crucial part of our code was the algorithm for the <span class="orange">evacuation zone</span>. We used MicroPython, a lightweight version of Python without unnecessary libraries, to perform a form of <span class="orange">supervised learning</span>. <br>

Our robot's database contained a series of measurements of the evacuation zone: initially without any elements inside, then with the safe zones (triangles) at all corners, and finally with the exits at all edges. Once the robot enters the evacuation zone during the competition, it takes measurements of the current context. By comparing this data with the information in its database, it can recreate a model of the evacuation zone as configured for the competition. <br>

Additionally, by utilizing the <span class="orange">standard deviation</span>, it can recognize spikes in the measurements that correspond to the shape of the balls, allowing it to locate and subsequently rescue them.
        </p>
    </div>
</div>
</section>

<section class="sectionLeft" id="skills">
<div class="sectionLeftText">
    <div class="divLefth1">
        <h1>SKILLS</h1>
    </div>
    <div class="divLeftp">
        <p>
            During this experience, we acquired a range of valuable skills. We enhanced our <span class="orange">programming</span> abilities, particularly in MicroPython, and gained a deeper understanding of algorithms and their practical applications. <br> 
            Our problem-solving skills were significantly sharpened as we navigated the challenges of developing a functional robot. <br> 
            We also improved our <span class="orange">engineering</span> skills through the construction and modification of the Lego Mindstorms EV3, learning how to optimize its physical design for better performance. <br>
            Additionally, we developed a strong sense of <span class="orange">teamwork</span> and collaboration, as effective communication and coordination were essential to our success. This project also taught us the importance of <span class="orange">perseverance</span> and adaptability, as we had to continuously refine our approach in response to unexpected obstacles.    
        </p>
    </div>
</div>
<div class="rightImage">
    <img src="/static/images/competences.png" alt="">
</div>
</section>



</script>
{% endblock %}